<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>Hello World Page</title>
        <style>
            .pink{
                background-color: #F8C8DC;
            }
            .highlight{
                background-color: #77DD77;
            }
        </style>
    </head>
    <body>
        <!--By the way, this is how you do a comment-->
        <p>Hello World! I'm valid HTML!</p>
        <ul>
            <li>This is</li>
            <li>an unordered</li>
            <li>list</li>
        </ul>
        
        <div class = "pink">
            <p>This section is pink! <br />
                It has been dyed with the blood of my enemies. <br />
                I made it using a div!
            </p>
        </div>
        <p>I can also highlight text <span class="highlight">green!</span><br />
            I did this using <span class="highlight">spans!</span>
        </p>
        <p>This is an image of a capybara I found on the internet!</p>
        <img src="https://img.freepik.com/premium-photo/cute-capybara-farm-is-taking-bath_361141-876.jpg?w=900"
        width="600"
        alt="Enjoy this cute capybara."
        >
        <p>And this is a cat moodboard I had saved on my computer!</p>
        <img src="static/CAT.png" alt="catcatcatcat">
        <p>I can use &lt;angle brackets&gt;!</p>
    </body>
</html>