{% extends "base.html.j2" %}

{% block title %}
    <title>Error</title>
{% endblock %}

{% block body %}
    <form method="POST" action=".">

        <div class="header">
            <h3 class="header-text center-text">ERROR</h3>
        </div>

        <br>
        <br>
        <br>

        <h3 class="center-text">stop breaking my page >:&#40;</h3>

        <div class="footer">
            <a href="." class="btn btn-outline-light add-margin" >Back</a>
        </div>
        
    </form>


{% endblock %}