body{
    font-family:"FreeMono", monospace;
    background-color: #3d5a80;
    color: white;
}

.header{
    background-color: #293241;
    padding: 10px;
    font-weight: bold;
}

.main{
    margin: 20px;
}

.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.centerText{
    text-align:center;
}

.accountCol{
    margin: auto;
    margin-top: 100px;
}

/* flex shenanigans from https://css-tricks.com/almanac/properties/f/flex-wrap/ */
.flex-container{
    padding: 0;
    margin: 20px;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.flex-item{
    width: 480px;
    height: 200px;
    padding: 15px;
    margin-top:auto;
    margin-bottom:auto;
    margin: 50px;
    background: #e0fbfc;
    color: #293241;

    text-align: center;
    vertical-align: middle;
}

.wrap{
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.poster{
    color: #3d5a80;
    font-size:large;
    font-weight: bold;
}