.menuItem{
    display:block;
    width: 200px;
    margin-left:auto;
    margin-right:auto;
}

.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.centerText{
    text-align:center;
}

body{
    padding:20px
}