<!DOCTYPE html>
<html lang="en">

    <head>
        <title>cafe &lt;3</title>
        <link rel="icon" type="image/jpg" href="static/logo.jpg">
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>

    <body>

        <img src="static/cafebanner.jpg" alt="banner" id="banner">
        <!--after partner feedback, adjusted the header to be less attention grabbing and smaller-->

        <div id="header">

            <div class="flex-container">

                <div class="flex-child">
                    <h3>locations</h3>
                </div>

                <div class="flex-child">
                    <h3>careers</h3>
                </div>

                <div class="flex-child">
                    <img src="static/logo.jpg" alt="logo" height=70>
                </div>

                <div class="flex-child">
                    <h3>menu</h3>
                </div>

                <div class="flex-child">
                    <h3>about us</h3>
                </div>

            </div>

        </div>

        

        <div>
            <h1 class="label">drinks</h1>
            <hr>

            <div class="flex-container gallery">

                <div class="flex-child">
                    <figure>
                        <figcaption class="name">cappuccino</figcaption>
                        <img src="static/cappuccino.jpg" alt="cappuccino" class="menu">
                        <p>espresso, milk foam</p>
                    </figure>
                </div>

                <div class="flex-child">
                    <figure>
                        <figcaption class="name">marbling latte</figcaption>
                        <img src="static/marblinglatte.jpg" alt="marbling latte" class="menu">
                        <p>espresso, cream</p>
                    </figure>
                </div>

                <div class="flex-child">
                    <figure>
                        <figcaption class="name">matcha latte</figcaption>
                        <img src="static/matchalatte.jpg" alt="matcha latte" class="menu">
                        <p>matcha, milk, honey</p>
                    </figure>
                </div>

                <div class="flex-child">
                    <figure>
                        <figcaption class="name">lemonade</figcaption>
                        <img src="static/lemonade.jpg" alt="lemonade" class="menu">
                        <p>lemon, sugar</p>
                    </figure>
                </div>

            </div>

        </div>

        <div>
            <h1 class="label">food</h1>
            <hr>

            <div class="flex-container gallery">

                <div class="flex-child">
                    <figure>
                        <figcaption class="name">brownie</figcaption>
                        <img src="static/brownie.jpg" alt="brownie" class="menu">
                        <p>flour, butter, cocoa, vanilla, chocolate</p>
                    </figure>
                </div>

                <div class="flex-child">
                    <figure>
                        <figcaption class="name">pain au chocolat</figcaption>
                        <img src="static/painauchocolat.jpg" alt="pain au chocolat" class="menu">
                        <p>flour, milk, yeast, butter, chocolate</p>
                    </figure>
                </div>

                <div class="flex-child">
                    <figure>
                        <figcaption class="name">strawberry cheesecake</figcaption>
                        <img src="static/strawberrycheesecake.jpg" alt="strawberry cheesecake" class="menu">
                        <p>strawberries, cream cheese, graham crackers</p>
                    </figure>
                </div>

                <div class="flex-child">
                    <figure>
                        <figcaption class="name">tiramisu</figcaption>
                        <img src="static/tiramisu.jpg" alt="tiramisu" class="menu">
                        <p>ladyfingers, mascarpone, espresso, whipped cream</p>
                    </figure>
                </div>

            </div>

        </div>

        <div id="footer">

            <div class="flex-container">

                <div class="flex-child">
                    <h3 class="foottext">follow us!</h3>
                </div>

                <div class="flex-child">
                    <img src="static/instagram.png" alt="instagram" class="icon">
                </div>

                <div class="flex-child">
                    <img src="static/facebook.png" alt="facebook" class="icon">
                </div>

                <div class="flex-child">
                    <img src="static/tiktok.png" alt="tiktok" class="icon">
                </div>

                <div class="flex-child">
                    <h3 class="foottext">images from @hyuni_525</h3>
                </div>

            </div>
        </div>
    </body>
</html>