<!DOCTYPE html>
<html lang="en">

    <head>
        <title>axolotl apotheosis coming soon</title>
        <!--I'm counting the favicon as the image from my computer-->
        <link rel="icon" type="image/png" href="static/derp.png">
    </head>
    <body>
        <img src="static/axolotlbanner.png" alt="banner" width="500" height="100">
        <h1>axolotl fanpage</h1>
        <hr>
        <div>
            <h3>what is an axolotl?</h3>
            <p>they are pink and cute. also their name means "water dog". that's all you need to know.</p>
            <img src="https://c.tenor.com/MZGaUsIhk-wAAAAC/axolotl-axolotl-cute.gif" alt="axolotl screaming">
        </div>
        <hr>
        <div>
            <h3>fun facts:</h3>
            <ul>
                <li>they have a top speed of 10 mph. that's faster than the average human</li>
                <li>they can regrow lost limbs, lungs, a heart, spinal cord, and parts of its brain
                <ul>
                    <li>scientists discovered this by crushing hundreds of axolotl spinal cords, which is quite upsetting to me</li>
                </ul>
                </li>
                <li>they are over 1,000 times more resistant to cancer than mammals</li>
                <li>they eat gravel to grind up food and control buoyancy</li>
                
            </ul>
        </div>
        <hr>
        <div>
            <h3>axolotl colors:</h3>
            <p>*note: i couldn't find data on actual axolotls so i'm using minecraft axolotls instead :)</p>
            <table>
                <tr>
                    <th>color</th>
                    <th>spawn rate</th>
                    <th>rarity</th>
                </tr>
                <tr>
                    <td>pink</td>
                    <td>24.98%</td>
                    <td>common</td>
                </tr>
                <tr>
                    <td>light blue</td>
                    <td>24.98%</td>
                    <td>common</td>
                </tr>
                <tr>
                    <td>yellow</td>
                    <td>24.98%</td>
                    <td>common</td>
                </tr>
                <tr>
                    <td>brown</td>
                    <td>24.98%</td>
                    <td>common</td>
                </tr>
                <tr>
                    <td>blue</td>
                    <td>0.083%</td>
                    <td>rare</td>
                </tr>
            </table>
            <figure>
                <img src="static/blueman.jpg" alt="blue" width="200">
                <figcaption>the elusive blue axolotl</figcaption>
            </figure>
        </div>
        <hr>
        <div>
            <h3>misc.</h3>
            <iframe width="640" height="360" src="https://www.youtube.com/embed/pMTcZNe_IRg" title="Cute Axolotl yawning" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br>
            <br>
            <a href="https://axolotlplanet.com/axolotls-for-sale/">buy an axolotl. now.</a>
        </div>
        
        
    </body>

</html>