p {
    font-size: 70px;
    font-weight: bold;
    font-family: Courier;
}

#left {
    margin: 6%;
    display: inline-block;
}

#center {
    margin: 6%;
    display: inline-block;
}

#right {
    margin: 6%;
    display: inline-block;
}