{% extends "base.html.j2" %}

{% block title %}
<title>My first website</title>
{% endblock %}

{% block body %}

    <form method="POST" action="/process">
        <input type="text" name="name" required>
        <input type="email" name="emailValue" required>
        <button type="submit">Submit</button>
    </form>

{% endblock %}