{% extends "base.html.j2" %}

{% block title %}
<title>Testing</title>
{% endblock %}

{% block body %}

    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
{% endblock %}